@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

html {
    font-size: 10px;
    background: url(../imgs/people.jpg) bottom center;
    background-size: cover;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 400px;
}

.keys__item {
    margin: 1rem;
    
}

.key {
    background: rgba(0,0,0,0.4);
    border-radius: .5rem;
    border: .4rem solid black;
    color: white;
    font-size: 2.5rem;
    padding: 1rem .5rem;
    text-align: center;
    text-shadow: 0 0 .5rem black;
    transition: all .07s ease;
    width: 10rem;
}

.key--playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.key__code {
    font-family: 'Droid Serif';
}

.key__title {
  font-size: 1.2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
  display: block;
  margin-top: 1rem;
}

.record-panel {
    margin-top: 2rem;
}

.record-panel__record-button {
    width: 60px;
    height: 60px;
    background-color: orangered;
    border: none;
    transition: all .4s;
    outline: none;
    box-shadow: 0 0 0 5px #fff;
}

.record-panel__record-button:hover {
    background-color: #ccc;
}

.record-panel__record-button--play {
    border-radius: 50%;
}

.record-panel__record-button--stop {
    border-radius: 18px;
}
